<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Navya Learning">
     <test name="API Testing">
          <classes>
               <class name="learn.GetPostAPI_NoAuth" />
               <class name="learn.APITest" />
               <class name="learn.GetPostAPI_OAuth2" />
               <class name="learn.GetPostAPI_With_API_Key" />
          </classes>
     </test>
</suite> 